.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #00cccd;
}

.startupNameContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
